:root{
  --main-blue: #18529d;
  --main-green: #2E8E49;
  --gray-bg: #f3f3f3;
  --secondary-blue: #DFE7F1;
}

.form{

  display: flex;
  /*height: 'inherit';*/
  overflow-y: auto;
  height: 100%;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
}

.form-box{
  background-color: white;
  margin: 0 10px 0 10px;
}

.form-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}


main{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.content{
  margin-top: 65px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: var(--gray-bg);
}


.progress-horizontal{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding-bottom: 20px;
}

.sidebar-link{
  color: white;
}

.slider-horizontal{
  transform: rotate(180deg);
}

.upload-button{
  border-radius: 10px;
  border: 2px dashed var(--main-blue);
  color: var(--main-blue);
  padding: 30px;
}

@media (max-width: 768px) {
  .desktop {
    visibility: hidden;
    height: 0;
  }
}

.form-box{
}


/* --- calendar ---*/
.calendar{
  padding: 30px;
}



.calendar-toolbar{
  background-color: var(--gray-bg);
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



.calendar-date-control{
  display: flex;
  
  min-width: 100px;
  width: 100%;
  align-items: center;
}

.rbc-day-slot .rbc-time-slot {
  padding: 0;
  margin: 0;
}

.rbc-date-cell {
  padding: 5px; /* Adjust padding to ensure it doesn't block cell selection */
  width: 100%;
  height: 100%;
}

.rbc-day-bg:hover {
  background-color: #cceeff; /* Light blue background on hover */
}

.selected-date {
  background-color: #ffcccc; /* Light red background for selected date */
}

.calendar-event{
  border-left: 10px solid var(--main-blue);
  
}



@media (max-width:600px) {
  .button-new-notification .MuiButton-root{
    display: none !important;
  }

  .calendar{
    padding: 0px;
  }
  .content{
    margin-top: 56px;
  }
}

@media (max-width:900px) {
  .button-new-notification .MuiButton-root{
    display: none !important;
  }

  .calendar{
    padding: 0px;
  }

}



.green{
  background-color: #2E8E49;
}

.white{
  background-color: white !important;
}