:root{
  --main-blue: #18529d;
  --main-green: #2E8E49;
  --gray-bg: white;
  --secondary-blue: #DFE7F1;
}

.form{

  display: flex;
  /*height: 'inherit';*/
  overflow-y: auto;
  height: 100%;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
}

.form-box{
  background-color: white;
}

.form-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}


main{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.content{
  width: 100%;
  overflow: auto;
  background-color: var(--gray-bg);
  display: flex;
  flex-flow: column;
  height: 100%;
}

.reservation-form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  max-height: 100%;
  
}

.progress-horizontal{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.sidebar-link{
  color: white;
}

.slider-horizontal{
  transform: rotate(180deg);
}

.upload-button{
  border-radius: 10px;
  border: 2px dashed var(--main-blue);
  color: var(--main-blue);
  padding: 30px;
}

@media (max-width: 768px) {
  .desktop {
    visibility: hidden;
    height: 0;
  }
}

.form-box{
}


/* --- calendar ---*/

.rbc-now{
  font-weight: 800;
}

.rbc-date-cell > button{
  padding: 5px;
  
}

.rbc-now > button{
  color: white;
  font-weight: 600;
  background-color: #18529d;
  border-radius: 100px;
}

.rbc-button-link{
  background-color: black;
}

.css-1c06ulf{
  background-color: red !important;
  touch-action: none !important;
}
.PrivateSwipeArea-root{
  background-color: red !important;
  touch-action: none !important;
}

.a{
  color: white;
  display: flex;
}


.rbc-day-bg,.rbc-header{
  background-color: white;
}
.rbc-day-bg:hover {
  background-color: #18529d1f;
  box-shadow: inset 0 0 0 1px #18529d;
}

.rbc-today{
  background-color: white !important;
}

.calendar-date-control{
  display: flex;
  
  min-width: 100px;
  width: 100%;
  align-items: center;
}

.rbc-day-slot .rbc-time-slot {
  padding: 0;
  margin: 0;
}

.rbc-date-cell {
  padding: 2px; 
  width: 100%;
  height: 100%;
  display: flex;
}



.selected-date {
  background-color: #ffcccc; /* Light red background for selected date */
}

.calendar-event{
  border-left: 10px solid var(--main-blue);
  
}



@media (max-width:600px) {
  .button-new-notification .MuiButton-root{
    display: none !important;
  }

  .calendar{
    padding: 0px;
  }

  .column{
    flex-direction: column-reverse;
  }

}

@media (max-width:900px) {
  .button-new-notification .MuiButton-root{
    display: none !important;
  }

  .calendar{
    padding: 0px;
  }

}



.green{
  background-color: #2E8E49;
}

.white{
  background-color: white !important;
}

ul{
  margin: 0;
}