:root{
  --main-blue: #18529d;
  --gray-bg: #f3f3f3;
  --secondary-blue: #DFE7F1;
}



.form{

  display: flex;
  /*height: 'inherit';*/
  overflow-y: auto;
  height: 100%;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
}

.form-box{
  background-color: white;
  margin: 0 10px 0 10px;
}

.form-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}


main{
  background-color: var(--gray-bg);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.content{

  margin-top: 80px;
  width: 100%;
  min-height: 100%;
  overflow: auto;
}


.progress-horizontal{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding-bottom: 20px;
}

.sidebar-link{
  color: white;
}

.slider-horizontal{
  transform: rotate(180deg);
}

.upload-button{
  background-color: red;
  border-radius: 10px;
  padding: 50px;
  border: 2px dashed black;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}